@charset "utf-8";

// /*font-size*/
$f8: 0.5rem !default !default;
$f10: 0.625rem !default;
$f12: 0.75rem !default !default;
$f14: 0.875rem !default;
$f16: 1rem !default;
$f20: 1.25rem !default;
$f24: 1.5rem !default;
$f32: 2rem !default;
$f48: 3rem !default;

// /*color*/
$blue: blue !default;
$red: red !default;